* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(10, 10, 10, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.alacritty {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 30px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each workspace name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    color: black;
    box-shadow: inset 5em 1em gold;
}

#workspaces button.focused {
    background-color: rgba(0,0,0,0.2);
    color: white;
    border-bottom: 5px solid #0277bd;
    border-radius: 0;
    /*box-shadow: 2px 2px 0px 0px rgba(0, 0, 255, .2);*/
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#window {
    color: black;
    font-weight: 800;
    background-color: #0277bd;
    padding: 0 30px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    margin: 0;
    padding: 0 20px;
    color: #ffffff;
    border-radius: 0;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 10px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #64727D;
}

#battery {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #26A65B;
}

@keyframes blink {
    to {
        background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #f53c3c;
    color: #ff0e0e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #000000;
}

#cpu {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #2ecc71;
}

#memory {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #9b59b6;
}

#disk {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #964B00;
}

#backlight {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #90b1b1;
}

#network {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #2980b9;
}

#network.disconnected {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #f53c3c;
}

#pulseaudio {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #f1c40f;
    color: #ffffff;
}

#pulseaudio.muted {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #66cc99;
}

#custom-media.custom-vlc {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #ffa000;
}

#temperature {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #f0932b;
}

#temperature.critical {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #eb4d4b;
}

#tray {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #eb4d4b;
}

#idle_inhibitor {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #2d3436;
}

#idle_inhibitor.activated {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #66cc99;
}

#mpd.disconnected {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #f53c3c;
}

#mpd.stopped {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #90b1b1;
}

#mpd.paused {
    background-color: rgba(0,0,0,0.2); border-bottom: 5px solid #51a37a;
}
