* {
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: rgb(0, 0, 0);
    border-top: 3px solid rgba(100, 114, 125, 0.5);
    color: #000000;
    transition-property: background-color;
    border-radius: 0 0 12px 12px;
    padding: 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.alacritty {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    /* padding: 0 30px; */
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each workspace name */
    border: 2px solid transparent;
    border-radius: 12px;
    margin: 10px 10px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(65, 65, 65, 0.4);
}

#workspaces button.focused {
    background-color: #0277bd;
    color: #000000;
    /*border: 2px solid #0277bd;*/
    /*box-shadow: 2px 2px 0px 0px rgba(0, 0, 255, .2);*/
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-top: 3px solid #ffffff;
}

#window {
    color: white;
    /* background-color: #0277bd; */
    padding: 0 5px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    margin: 5px 5px;
    padding: 0px 10px;
    color: #ffffff;
    border-radius: 0;
}

#window,
#workspaces {
    /* margin: 0 4px; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 10px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 10px;
}

#clock {
    border-top: 2px solid #64727D;
}

#battery {
    border-top: 2px solid #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    border-top: 2px solid #26A65B;
}

@keyframes blink {
    to {
         border-top: 2px solid #ffffff;
         color: #000000;
    }
}

#battery.critical:not(.charging) {
    border-top: 2px solid #f53c3c;
    color: #ff0e0e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
     border-top: 2px solid #000000;
}

#cpu {
     border-top: 2px solid #2ecc71;
}

#memory {
     border-top: 2px solid #9b59b6;
}

#disk {
     border-top: 2px solid #964B00;
}

#backlight {
     border-top: 2px solid #90b1b1;
}

#network {
     border-top: 2px solid #2980b9;
}

#network.disconnected {
     border-top: 2px solid #f53c3c;
}

#pulseaudio {
     border-top: 2px solid #f1c40f;
}

#pulseaudio.muted {
    border-top: 2px solid #90b1b1;
    color: #2a5c45;
}

#custom-media {
    border-top: 2px solid #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    border-top: 2px solid #66cc99;
}

#custom-media.custom-vlc {
    border-top: 2px solid #ffa000;
}

#temperature {
    border-top: 2px solid #f0932b;
}

#temperature.critical {
    border-top: 2px solid #eb4d4b;
}

#tray {
    border-top: 2px solid #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    border-top: 2px solid #eb4d4b;
}

#idle_inhibitor {
     border-top: 2px solid #2d3436;
}

#idle_inhibitor.activated {
     border-top: 2px solid #ecf0f1;
    color: #2d3436;
}

#mpd {
    border-top: 2px solid #66cc99;
}

#mpd.disconnected {
     border-top: 2px solid #f53c3c;
}

#mpd.stopped {
     border-top: 2px solid #90b1b1;
}

#mpd.paused {
     border-top: 2px solid #51a37a;
}
